body {
	background-image: url("Images/background01.png");
	background-size: 115%;
	background-repeat: no repeat;
	margin: 0px;
}

.wmmap {
	color: white;
	text-align: center;
	font-size: 36px;
	opacity: 80%;
	line-height: 30px;
	padding-top: 138px;
	padding-bottom: 150px;
	padding-left: 85px;
	margin: 20px;
	float: left;
	width: 600px;
	height: 90px;
	margin: 0px;
}

.navbar {
	
	background-color: #f5f5f5;
	overflow: hidden;
	margin: 0px;
}

.navbar a {
	text-align: center;
	font-size: 23px;
	font-weight: bolder;
	text-decoration: none;
	color: #352eb3;
	float: right;
	padding-top: 36px;
	padding-bottom: 36px;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar a:hover {
	background-color: #8794e6;
	color: white;
	padding-top: 36px;
	padding-bottom: 36px;
	margin: 0px;
}

.navbar a.active {
	background-color: #8794e6;
	color: white;
	padding-top: 36px;
	padding-bottom: 36px;
	margin: 0px;
}

h1 {
	text-shadow: 4px 4px 8px #492E4D;
}

img {
	width: 94px;
	padding-left: 25px;
}
